<ion-item class="ion-margin-vertical" lines="none">
  <ion-input
    label="Food"
    labelPlacement="stacked"
    type="text"
    placeholder="Enter food name"
  ></ion-input>
</ion-item>

<ion-card class="ion-no-margin ion-margin-vertical">
  <ion-card-header>
    <ion-card-subtitle>NUTRITION</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <ion-list>
      <ion-item><!-- FIX ME: MAKE THIS SLIDABLE -->
        <ion-select placeholder="Select nutrient" interface="popover">
          <ion-select-option value="apple">Caarbs</ion-select-option>
          <ion-select-option value="banana">Protein</ion-select-option>
          <ion-select-option value="orange">Fat</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input
          label="Number of servings"
          labelPlacement="floating"
          type="number"
          slot="start"
        ></ion-input>

        <ion-select placeholder="Serving size" slot="end" interface="popover">
          <ion-select-option value="apple">1unit</ion-select-option>
          <ion-select-option value="apple">1g</ion-select-option>
          <ion-select-option value="banana">1lbs</ion-select-option>
          <ion-select-option value="orange">1oz</ion-select-option>
          <ion-select-option value="orange">1ml</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<div class="flex justify-center">
  <ion-fab>
    <ion-fab-button color="tertiary" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
