<ion-item class="font-medium mt-4 workout ion-no-padding ion-no-margin" lines="none">
  <ion-label>
    <ion-text>Workout</ion-text>
  </ion-label>
</ion-item>

<ion-card class="ion-no-margin">

  <ion-card-header>
    <ion-segment value="streak">
      <ion-segment-button value="streak">
        <ion-label>Streak</ion-label>
      </ion-segment-button>
      <ion-segment-button value="chart">
        <ion-label>Chart</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-card-header>

  <ion-card-content>
    <div class="contribution-graph">
        <!-- Generate your grid here using JavaScript -->
        <div class="week-container" *ngFor="let week of weeksArray">
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
          <div class="day"></div>
        </div>
        
    </div>
  </ion-card-content>
</ion-card>