<ion-item class="font-medium mt-4 workout ion-no-padding ion-no-margin" lines="none">
  <ion-label>
    <ion-text>Workout</ion-text>
  </ion-label>
</ion-item>


<ion-card class="ion-no-margin exercise relative">
  <div class="w-full top-4 absolute flex justify-end">
    <ion-fab>
      <ion-fab-button size="small" color="tertiary" (click)="openAddSetPopover()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <ion-card-header>
    <ion-card-title class="text-lg">Bench Press</ion-card-title>
    <ion-card-subtitle>Current Exercise:</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-text>Sets</ion-text>
      <ion-item class="ion-no-padding" *ngFor="let set of [1, 2, 3, 4]; let i = index; let last = last" [lines]="last && 'none'" button detail="false">
        <ion-label class="ion-text-wrap">
            <p>
              120lbs
            </p>
        </ion-label>
        <ion-text slot="end">
          13 reps
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-card>

<ion-button expand="block" class="ion-margin-vertical" color="tertiary" (click)="openExerciseModal()">
  <ion-icon name="barbell-outline" slot="start" color="primary"></ion-icon>
  <ion-text slot="end" color="primary">Choose Exercise</ion-text>
</ion-button>