<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Workout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
        <ion-button class="sign-btn" fill="clear" color="primary" slot="start">
          <ion-icon name="person-circle" slot="start"></ion-icon>
          sign in/sign up
        </ion-button>

        <ion-button slot="end" fill="clear" color="primary" size="small" (click)="toggleTheme()">
          <ion-icon name="moon" slot="icon-only" *ngIf="selectedTheme === 'light'"></ion-icon>
          <ion-icon name="sunny" slot="icon-only" *ngIf="selectedTheme === 'dark'"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-header>

  <div class="container w-full min-h-full rounded-t-3xl ion-padding">
    <!-- FOOD SECTION -->
    <app-food-card></app-food-card>

    <!-- WORKOUT SECTION -->
    <app-workout-card></app-workout-card>

    <!-- SATISTICS SECTION -->
    <app-statistics></app-statistics>
    
  </div>
  
</ion-content>
