<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Food</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container w-full min-h-full rounded-t-3xl ion-padding">

    <ion-grid>
      <ion-row>
        <ion-col class="flex justify-center">
          <circle-progress
            [percent]="85"
            [radius]="70"
            [units]="' cal'"
            [unitsFontSize]="'14'"
            [title]="'1973'"
            [titleColor]="selectedTheme === 'light' ? '#000000' : '#ffffff'"
            [titleFontSize]="'24'"
            [subtitle]="'completed'"
            [subtitleFontSize]="'16'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#2E8A99'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <!-- Logged food card -->
    <app-logged-food></app-logged-food>

    <!-- Food stats card -->
    <app-food-stats></app-food-stats>

  </div>
</ion-content>
