<ion-card class="ion-no-margin">
  <ion-card-header>
    <ion-card-subtitle>Graph</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item class="ion-no-padding" *ngFor="let food of [1, 2, 3, 4, 5]; let i = index; let last = last;" [lines]="last && 'none'" button> <!-- FIX ME: MAKE THIS SLIDING-ITEM IN FUTURE -->
        <ion-label>
          <p>
            {{i + 1}}. Chicken and Rice meal
          </p>
        </ion-label>
        <ion-text slot="end">
          780cal
        </ion-text>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

