<ion-item class="font-medium food ion-no-padding ion-no-margin" lines="none">
  <ion-label>
    <ion-text>Food</ion-text>
  </ion-label>

  <ion-button size="small" color="primary" fill="clear" slot="end">Add +</ion-button>
</ion-item>

<ion-card class="ion-no-margin" button>
  <ion-card-content class="ion-no-padding">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="5">

          <circle-progress
            [percent]="85"
            [radius]="50"
            [units]="''"
            [title]="'1973cal'"
            [titleColor]="'#ffffff'"
            [titleFontSize]="'16'"
            [subtitle]="'completed'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#2E8A99'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          ></circle-progress>
          
        </ion-col>

        <ion-col size="7">

          <ion-list>
            <ion-item-divider class="ion-no-padding" sticky="true">
              <ion-text class="text-sm">Logged food</ion-text>
            </ion-item-divider>

            <ion-item class="ion-no-padding" *ngFor="let food of [1, 2, 3, 4, 5]; let i = index; let last = last" [lines]="last && 'none'">
              <ion-label>
                <p>{{i + 1}}. Protein shake</p>
              </ion-label>
            </ion-item>

          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>