<form [formGroup]="setForm" class="ion-margin-vertical">
  <ion-item>
    <ion-label position="stacked">
      <p>Weight:</p>
    </ion-label>

    <ion-input type="number" formControlName="weight"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">
      <p>Reps:</p>
    </ion-label>

    <ion-input type="number" formControlName="reps"></ion-input>
  </ion-item>
  <ion-button class="ion-margin-horizontal" color="secondary" expand="block" [disabled]="setForm.invalid">Save</ion-button>
</form>